@font-face {/*Paragraphs*/
    font-family: 'K2D';
    src: 
    url('../assets/fonts/K2D/K2D-Regular.ttf') format('truetype');
}
@font-face {/*Titles*/
    font-family: 'Renogare';
    src: 
    url('assets/fonts/Renogare.ttf') format('truetype');
}

@media (min-width: 1000px) {/*horizontal*/
    main{margin: 0 auto;align-items: center;}
    h2{font-size: 24pt;}
    p{font-size: 16pt;}
}

@media (max-width: 1000px) {/*vertical*/
    main{margin-left: 4em;align-items: left;}
    h2{font-size: 16pt;}
    p{font-size: 12pt;}
}


main{
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    
}

h2{
    color: #CCC;
    font-family: Renogare;
    
    margin: 0.5em 0
}

p{
    color: #CCC;
    font-family: 'K2D';
    margin: 0.2em 0 ;
}


.data-group{
    display: flex;
    flex-direction: column;
    align-items: left;
    
}