:root {
    --blue-1: #0b1219;
    --blue-2: #111922;
    --blue-3: #15283f;
    --blue-4: #133256;
    --blue-5: #1d3f67;
    --blue-6: #294d78;
    --blue-7: #365e8e;
    --blue-8: #4272ab;
    --blue-9: #62a0ea;
    --blue-10: #5794dd;
    --blue-11: #86b8f6;
    --blue-12: #cee3fd;
}
