@font-face {
    font-family: 'Renogare';
    src: 
    url('../assets/fonts/Renogare.ttf') format('truetype');
    font-style: normal;
}

@media (max-width: 800px) { /* vertical*/
    
    main{
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }


    .project{
        margin: 0 10px 0 10px ;
        width:210px;
    }

    .presentation-image {
        border-radius: 15px;
        width: 210px;
    }
    .landscape{
        width: 250px;
    }
    .portrait{
        width: 200px;
    }

    .icon-container {
        display: none !important;
    }

    h1{font-size: 24px;}
    h2{font-size: 14px;}
    h3{text-align: center;}

    
}

@media (min-width: 800px) {   /*horizontal*/
    .project{
        margin: 0 0 0 50px ;
        width: 250px;

    }
    section{
        margin: 10px 0px 0 50px ;
    }

    .presentation-image {
        width: 280px;
        border-radius: 25px;
    }
    .landscape{
        width: 450px;
    }
    .portrait{
        height: 450px;
    }

    h1{font-size: 28px;}
    h2{font-size: 18px;}
    h3{text-align: end;}
}

body {
    font-family: 'Renogare';
    background-color: #181818;
    margin: 0;
    padding: 0;
}

#snakeCanvas {
    position: fixed; 
    top: 80px;
    left: 0;
    z-index: -1;
}

h1 {
    color: #CCC;
    text-align: center;
    font-family: 'Renogare';
}
h2{
    color: #CCC;
    font-family: 'Renogare';
    margin: 20px 10px;
    line-height: 1.2;
    letter-spacing: 0.7px;
}
h3 {
    color: #808080;
    font-size: 18px;
    font-family: 'Renogare';
    margin-right: 10px;
}
h4{
    color: #CCC;
    font-size: 14px;
    font-family: 'Renogare';
    }


main{
    display: flex;

}
section{
    display: flex;
    flex-direction: column;

}


.project-button {
    color: white;
    margin: 8px 0 0 8px;
    font-family: 'Renogare';
    text-align: center;
    border-radius: 12px;
    border:none;
    line-height: 1.2;

    cursor: pointer;
    transition: background-color 0.3s ease, 
                box-shadow 0.3s ease, 
                transform 0.3s ease,
                color 0.3s ease;
}
.project-button:hover{
    transform: translateY(-3px);

}

.big{
    background-color: #34b860;
    height: 70px;
    width: 200px;
    font-size: 24px;
    border-radius: 12px;
}
.big:hover{
    background-color: #61b760;
    box-shadow: 0 8px 15px rgba(108, 204, 107, 0.4);

}
.medium{
    background-color: #cca83a;
    height: 55px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
}
.medium:hover{
    background-color: #ccbd3a;
    box-shadow: 0 8px 15px rgba(204, 189, 58, 0.4);
}
.small{
    background-color: #3a65cc;

    height: 45px;
    width: 95px;
    font-size: 12px;
    border-radius: 8px;
}
.small:hover{

    background-color: #3a9ecc; 
    box-shadow: 0 8px 15px rgba(58, 158, 204, 0.4);
}


.description-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.landscape{
    border-radius: 10px;
    margin: 10px 5px 10px 5px ;
}
.portrait{
    border-radius: 10px;
    margin: 10px 10px 10px 10px ;
}

.icon-container {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    position: relative;
    bottom:60px;

}
.icon-image {
    height: 40px;
    margin: 10px 0 0 20px ;
}
