@font-face {/*Titles*/
    font-family: 'Renogare';
    src: 
    url('../assets/fonts/Renogare.ttf') format('truetype');
    font-style: normal;
}
@font-face {/*Paragraphs*/
    font-family: 'K2D';
    src: 
    url('../assets/fonts/K2D/K2D-Regular.ttf') format('truetype');
}

@media (max-width: 800px) { /* vertical*/
    
    main{
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }


    .project{
        margin: 0 10px 0 10px ;
        width:210px;
    }
    .project-button{margin: 8px 0 0 0;}

    .presentation-image {
        border-radius: 15px;
        width: 210px;
    }
    .landscape{
        width: 250px;
    }
    .portrait{
        width: 200px;
    }

    .icon-container {
        display: none !important;
    }

    h1{font-size: 20pt;}
    .description{font-size: 14pt;}
    .date{text-align: center;}

    
}

@media (min-width: 800px) {   /*horizontal*/
    .project{
        margin: 0 0 0 50px ;
        width: 280px;

    }
    .project-button{margin: 8px 0 0 8px;}
    section{
        margin: 10px 0px 0 50px ;
    }

    .presentation-image {
        width: 280px;
        border-radius: 25px;
    }
    .landscape{
        width: 450px;
    }
    .portrait{
        height: 450px;
    }

    h1{font-size: 20pt;}
    .description{font-size: 18pt;}
    .date{text-align: end;}
}

body {
    background-color: #181818;
    margin: 0;
    padding: 0;
}

#snakeCanvas {
    position: fixed; 
    top: 80px;
    left: 0;
    z-index: -1;
}

p{
    color: #CCC;
    font-family: 'K2D';
}

h1 {
    color: #CCC;
    text-align: center;
    font-family: 'Renogare';
}
.description{
    margin: 20px 10px;
    line-height: 1.2;
}
.date {
    color: #808080;
    font-size: 18pt;
    margin-right: 10px;
}
.reminder{
    color: #CCC;
    font-size: 11pt;
}



.room-selection{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    margin: 0.5em;
}
.label{
    margin: 0 0.5em;
}
input{
    width: 40px;
    height: 20px;
    border: #CCC 1px solid;
    border-radius: 4px;
    background-color: transparent;
    color: #CCC;
    padding-left: 0.3em;
}
input::placeholder {

  color: #CCC;
}


main{
    display: flex;

}
section{
    display: flex;
    flex-direction: column;

}


.project-button {
    font-family: Renogare;
    color: white;
    
    text-align: center;
    border-radius: 12px;
    border:none;
    line-height: 1.2;

    cursor: pointer;
    transition: background-color 0.3s ease, 
                box-shadow 0.3s ease, 
                transform 0.3s ease,
                color 0.3s ease;
}
.project-button:hover{
    transform: translateY(-3px);

}

.big{
    background-color: #34b860;
    height: 70px;
    width: 200px;
    font-size: 18pt;
    border-radius: 12px;
}
.big:hover{
    background-color: #61b760;
    box-shadow: 0 8px 15px rgba(108, 204, 107, 0.4);

}
.medium{
    background-color: #cca83a;
    height: 55px;
    width: 150px;
    font-size: 14pt;
    border-radius: 10px;
}
.medium:hover{
    background-color: #ccbd3a;
    box-shadow: 0 8px 15px rgba(204, 189, 58, 0.4);
}
.small{
    background-color: #3a65cc;

    height: 45px;
    width: 95px;
    font-size: 8pt;
    border-radius: 8px;
}
.small:hover{

    background-color: #3a9ecc; 
    box-shadow: 0 8px 15px rgba(58, 158, 204, 0.4);
}


.description-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}



.landscape{
    border-radius: 10px;
    margin: 10px 5px 10px 5px ;
}
.portrait{
    border-radius: 10px;
    margin: 10px 10px 10px 10px ;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    position: relative;
}
.icon-image {
    height: 40px;
    margin: 0 0 0 20px ;
}
